/*CSS DOCUMENT */
html, body, div, applet, object, iframe, h1, h3, h4, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

body {
	background-color: #eff4fa;
	color: #333333;
	/*font-family: "Helvetica Neue", Arial, sans-serif;*/
}

div.container {
	max-width: 40em;
	margin: auto;
}

img {
	width: 100%;
	margin: 1em;

}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, ul, ol, figcaption, li {
	margin: 0; 
	padding:0; 
	font-size: 1em; 
	font-weight: normal;
	font-family: "Helvetica Neue";
}

h1 {
	font-size: 4em; 
	font-weight: bold;
	padding: .25em;
}

h2 {
	font-size: 2em; 
	margin: .45em;
	font-family: "helvetica-neue-lt-pro", sans-serif;
font-weight: 400;
font-style: italic;

}

h3 {
	font-size: 1em; 
	margin: 1em;
	font-family: "helvetica-neue-lt-pro", sans-serif;
font-weight: 200;
font-style: normal;
}

h4 {
	font-size: 1.5em;
	font-weight: bold;
	margin: .6em;
}

alt {
	font-size: 1em;
	margin: 1em;
	font-family: "helvetica-neue-lt-pro", sans-serif;
font-weight: 200;
font-style: normal;
}

figcaption {
	font-size: 1em;
	margin: 1em;
	font-family: "helvetica-neue-lt-pro", sans-serif;
font-weight: 200;
font-style: italic;
}
