/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

div.container, div.home-container {
    margin: auto;
    max-width: 40em;
}

img {
    width:100%;
    display:block;
}
    
figure {
    margin-left:0;
    margin-right:0;
}

figcaption {
    font-style: italic;
    font-size: 1em;
    padding: 0.5rem 1rem 1.5rem;
}

body {
	font-family: sans-serif;
    background-color: rgb(250 251 238);
	}

header {
    padding: .5em 0;
    margin-top: 2em;
    background-color: rgb(131, 147, 129);
}

h1 {
    width: 10em;
    padding: 1rem 1rem;
}

h2 {
    font-family: "futura-100", sans-serif;
    font-style: normal;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(72, 96, 54);
    padding: 0.5rem 1rem 0;
}

a {
   text-decoration: none;
   color: rgb(250 251 238);
   
}

a:hover {
    color: rgb(252, 202, 123);
}

p {
    font-size: 1em;
    line-height: 1.25em;
    color: rgb(5,5,5);
    padding: 0 1rem 1rem;
    font-family: "futura-100-book", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    list-style-type: none;
    margin-top: .25em;
    font-weight: bold;
    font-size: 1em;
    padding: 0rem .5rem 0;
    font-family: "futura-100", sans-serif;
font-weight: 700;
font-style: italic;
}

nav ul li {
    color: rgb(19, 103, 151);
    list-style-type: none;
    margin: .5em;
}

section {
    margin-top: 1em;
}

section.soccer h2 {
    font-size: 2em;
}
section.tertiary {
    border-top: 2px solid rgb(49, 82, 45);
    margin-top: 1em;
    

}

section.tertiary h2{
    font-size: 1.2em;
    color: rgb(250 251 238);
    -webkit-text-stroke-width: .1em;
    -webkit-text-stroke-color:rgb(131, 147, 129);

}

aside {
    background-color: rgb(131, 147, 129);
    padding: .5em;
}

aside h2 {
    font-size: 1em;
}

footer {
    background-color: rgb(49, 82, 45);
    padding: .5em;
    margin-top: 2em;
}

footer p {
    color: rgb(250,250,250);
}

@media only screen and (min-width: 40em) {

    div.container {
        padding: 0 2em;
    }
    nav ul li {
		display: inline;
        margin: none;
	}

    nav ul {
        padding: none;
    }

    nav {
        padding: 0rem;
    }

    h1 {
        padding: 1.5rem 0;
    }

    h2 {
        padding: 0.5rem 0 0;
    }

    p {
        padding: 0 0 3rem 0;
        margin: auto;
    }

    figcaption {
        padding: 0.5rem 0 1.5rem;
    }

    section.soccer h2 {
        padding: 0.5rem 0 0;
    }
  }

  @media only screen and (min-width: 60em) {
    
    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside {
        margin-top: 0;
    }

    section.soccer {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.soccer a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.soccer a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.soccer a figure img {
        object-fit: cover;
    }
    section.soccer a h2 {
        flex: 0 0 1em;
    }

    section.soccer a p {
        flex: 0 0 4em;
    }




    section.secondary {
        display: flex;
    }

    section.secondary a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img {
        object-fit: cover;
    }
    section.secondary a h2 {
        flex: 0 0 1em;
    }

    section.secondary a p {
        flex: 0 0 4em;
    }


  }
