/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h3, h4, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(images/home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	max-width: 60em;
	margin: auto;
}

div.container { 
	position: relative;
	min-height: 100vh;
	max-width: 60em;
	margin: auto;
	background-color: rgb(255, 255, 255);
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */

body {
	font-family: sans-serif;
	}

main { 
	padding: 2em 1em 8em;
	
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr auto;
	background: rgb(189, 189, 192);
	padding: .8em .5em 2.5em;
	}

h1 {
	width: 12em;
	}


h2, h3, h4 {
		margin: 0em 0em 0em;
		font-weight: bold;
		font-family: sans-serif;
	}

h2{
	margin: 1em .35em .25em;
	font-family: sans-serif;
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
	margin: 1em .5em .75em;
	}
	
h4 {
	font-size: 1em;
	margin: 0em .75em 0em;
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}

nav ul li.selected a {
	color: rgb(255, 255, 255);
	background-color: rgb(255, 158, 23);

 }
	
ul li 	{
	list-style-type: none;
	font-size: 1em;
	
}

figure {
	margin: 0em .75em 1em;
	
}

main.menu ul {
		margin: 1em 0em 2em;
}	

main.menu ul li {
		margin: 1em 0em 0em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
	
}	

p {
	margin: 0em .75em 1em;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.25em;
	
}

article {
	background-color: aqua;
	margin: 0em .75em 0em;
	
}
	
p.description {
	grid-column: 1/3;
	margin: 0em 0.75em 0em;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(255,0,0);
	text-align: right;
	margin: 0em;

	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1em;
	}
	
nav ul li a {
	color: rgb(255,255,0);
	background-color: rgb(0,0,255);
	padding: 0.5em .5em 0.5em;
	}
	

p.slogan {
	font-size: 4em;
	font-family: serif;
	font-style: italic;
	margin: .75em .25em 1em;
	color: rgb(255, 255, 255);	
	}
	
footer {
  position: absolute;
  bottom: 0em;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 0.5em 0.5em 1em;
  background: rgb(255,255,0);
}

address {
	margin: 0em .75em 0em;
	font-size: 1em;
	font-family: sans-serif;
	color: rgb(255, 158, 23);
	padding: 0em 0em 0em;
	line-height: 1.25em;
	}

footer p {
	margin: 0em;
}

@media screen and (min-width: 60em) {

	nav ul{
		margin:1.5em 1em;
	}


	nav ul li {
		display: inline;
		margin: 1em 1em 1em;

	}

	body {
		background-color: rgb(255,0,0);
	}

	main.menu ul {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 1em 4em;
	}


	

}
